
*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(226, 226, 226);

}
.navbar-brand{
    color: rgb(255, 211, 249) !important;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.card{
    background: rgb(121, 60, 94);
    height: 100%;
}
.card h5, .card p{
    color: white;
}
.navbar{
    margin-top: -10px;
    background: rgba(83, 24, 68, 0.5)!important;
    z-index: 9;
}
.card-img-top{
    width: 100%;
    height: auto;
}
.card-text{
    height: 100px;
}
.btn-container {
    bottom: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

.btn {
    width: 100%; /* Ajustamos el ancho del botón según tu preferencia */
    height: 40px;
}
#navbarNav{
    background: transparent;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
    font-weight: bold;
    
}

.navbar-nav .nav-link:hover {
    color: #dd31c0 !important;
    transition: 0.5s;
}
.carousel-inner{
    margin-top: -100px;
    z-index: 1;
}
.wp {
width: 5rem;
position: fixed;
z-index: 99;
bottom: 0;
right: 0;
margin: 20px;
transition: transform 0.3s ease;
cursor: pointer;
filter: grayscale(0.);
}

.wp:hover {
animation: buzz-out 0.3s ease;
}

@keyframes buzz-out {
50% {
    transform: scale(0.9);
}
100% {
    transform: scale(1);
}
}

.titulo-contacto{
    font-size: 2rem;
    margin: 20px;
}
/* #contacto{
    height: 100vh;
} */
.contacto{
    background: rgb(173, 97, 143);
    height: 100%;
    width: 100%; 
    padding: 5rem;
    margin-top: -20px !important;
}
.texto-contacto{
    width: 400px;
}
.texto-contacto h4, .texto-contacto p{
    width: 400px;

}

.mensaje, .nombre, .apellido, .email{
    font-size: 1.5rem;
}
form{
    margin-top: -14px;
}

.contenedor-icons{
    display: flex;
    flex-direction: column;
}

.fab{
    margin: 10px;
}
.text-white i {
    scale: 1.2;
    margin-bottom: 10px;
}

@media (max-width: 768px){
    .navbar-nav .nav-link{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .navbar-nav .nav-link:hover {
        background-color: gray;
    }
    .texto-contacto{
        text-align: center;
    }
}


